<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>profile page</title>
</head>
<body>
  <%- include('common/header'); %>
  <h1 style="color: orangered;">THIS IS THE PROFILE PAGE WHICH IS DYNAMIC</h1>
  <h2>welcome <%=user.name%> </h2>
</body>
</html>